<div class="minimal-cascade" id="slide2Cascade">
    <div class="m-step" data-step="1">
        <div class="m-icon"><i class="fa-solid fa-users-line"></i></div>
        <div class="m-label">Więcej abonentów</div>
        <div class="m-sub">Zasięg, fuzje, nowe usługi</div>
    </div>
    
    <i class="fa-solid fa-chevron-right m-arrow"></i>

    <div class="m-step" data-step="2">
        <div class="m-icon"><i class="fa-solid fa-headset"></i></div>
        <div class="m-label">Więcej zgłoszeń</div>
        <div class="m-sub">Infolinia i telefon</div>
    </div>

    <i class="fa-solid fa-chevron-right m-arrow"></i>

    <div class="m-step" data-step="3">
        <div class="m-icon"><i class="fa-solid fa-truck-fast"></i></div>
        <div class="m-label">Więcej wizyt</div>
        <div class="m-sub">Koordynacja techników</div>
    </div>

    <i class="fa-solid fa-chevron-right m-arrow"></i>

    <div class="m-step m-warning" data-step="4">
        <div class="m-icon"><i class="fa-solid fa-temperature-arrow-up"></i></div>
        <div class="m-label">Presja na BOK</div>
        <div class="m-sub">Bariera operacyjna</div>
    </div>

    <i class="fa-solid fa-chevron-right m-arrow"></i>

    <div class="m-step m-action" data-step="5">
        <div class="m-icon"><i class="fa-solid fa-gears"></i></div>
        <div class="m-label">Automatyzacja</div>
        <div class="m-sub">Warunek skalowania</div>
    </div>
</div>