<div class="slide-container strategic-question-slide" data-slide-id="slide_02" data-overview-title="Wzrost Bez Rozrostu Kosztów" id="slide2">
    <div class="title-ambient-glow"></div>
    
    <div class="question-centered-box" style="text-wrap: balance;">
        <h2 class="slide-title-question" style="text-wrap: balance;">
            Czy nasza organizacja jest gotowa <span>na większą skalę?</span>
        </h2>
        
        <div class="question-divider"></div>
        
        <p class="slide-subtitle-narrative-centered" style="text-wrap: balance;">
            Wzrost operatora nie powinien oznaczać proporcjonalnego wzrostu kosztów operacyjnych.<br>
            <span style="text-wrap: balance;">Tradycyjne pytanie „Czy mamy dobrą sieć?” ustępuje miejsca "Czy potrafimy skalować procesy?".</span>
        </p>
    </div>
</div>