<div class="slide-container mockups-photo-slide" data-overview-title="Podgląd Aplikacji Abonenta" id="slide4_photo">
    <!-- COMPONENT: benefit_label_1 -->

    <!-- Ambient Glow (wyśrodkowany za makietą) -->
    <div class="title-ambient-glow"></div>

    <div class="mockup-display-container">
        <img src="assets/slide_04_mockup_2_dark.png" alt="Abonent na pierwszym planie" class="centered-mockup-img mockup-img-dark">
        <img src="assets/slide_04_mockup_2_light.png" alt="Abonent na pierwszym planie" class="centered-mockup-img mockup-img-light">
    </div>
</div>
