<div class="slide-container" data-overview-title="Pełny Widok Klienta 360°" id="slide6">
    <!-- Ambient Glow (taki sam jak na slajdzie 04) -->
    <div class="title-ambient-glow"></div>

    <h2 class="slide-title"><span>Jeden spójny widok klienta (360°)</span></h2>
    <p class="lead">Koniec z silosami informacyjnymi. <span>BOK, utrzymanie i finanse pracują na jednym, spójnym profilu abonenta.</span></p>

    <div class="two-column">
        <div>
            <ul class="feature-list">
                <li><i class="fa-solid fa-check"></i> Pełna historia kontaktu, zgłoszeń i rozliczeń dostępna w ułamku sekundy.</li>
                <li><i class="fa-solid fa-check"></i> Bieżący wgląd w aktywne usługi, umowy, urządzenia (CPE) i parametry łącza.</li>
                <li><i class="fa-solid fa-check"></i> Błyskawiczna identyfikacja abonenta i kontekstu sprawy bez przełączania systemów.</li>
            </ul>
        </div>
        <div class="image-wrapper">
            <img src="assets/slide_05_mockup_1_dark.png" alt="Jeden spójny widok klienta 360 stopni" class="mockup-img-dark">
            <img src="assets/slide_05_mockup_1_light.png" alt="Jeden spójny widok klienta 360 stopni" class="mockup-img-light">
        </div>
    </div>
</div>