<div class="slide-container mockups-photo-slide" data-overview-title="Podgląd Postępu Realizacji" id="slide7_photo">
    <!-- COMPONENT: benefit_label_4 -->

    <!-- Ambient Glow (wyśrodkowany za makietą) -->
    <div class="title-ambient-glow"></div>

    <div class="mockup-display-container">
        <img src="assets/slide_07_mockup_2_dark.png" alt="Mniej pytań o status, większa przejrzystość" class="centered-mockup-img mockup-img-dark">
        <img src="assets/slide_07_mockup_2_light.png" alt="Mniej pytań o status, większa przejrzystość" class="centered-mockup-img mockup-img-light">
    </div>
</div>
